<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RentACar</title>
    <link rel="stylesheet" type="text/css" href="{{nested}}public/css/style.css" />
    <link rel="icon" href="{{nested}}public/favicon.ico" />
</head>