<header>
    <nav>
        <img id="logo" src="{{nested}}public/logo.png" alt="logo" />
        <ul id="main-nav">
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/car/all">all cars</a>
            </li>
            {{#if isAdmin}}
             <li>
                <a href="/car/create">add car</a>
            </li>
            {{/if}}
            {{#if isUser}}
             <li>
                <a href="/user/profile/me">profile</a>
            </li>
            {{/if}}
           
        </ul>
        <ul id="user">
            {{#if isAnonymous}}
             <li>
                <a href="/user/register">register</a>
            </li>
            <li>
                <a href="/user/login">login</a>
            </li>
            {{else}}
             <li>
                <a href="/user/logout">Logout</a>
            </li>
            {{/if}}
            
           
        </ul>
    </nav>
</header>